body {
    background-color: rgb(25, 71, 87) !important;
    background-image: url("./assets/carVaporwave.jpg");
}

:any-link {
  color: rgb(0,137,218) !important;
}
@font-face {
  font-family: "Msoft" !important;
  src: url("./assets/M8pt.woff") !important;
}

a[href], input[type='submit'], input[type='image'], label[for], select, button, .pointer {
  cursor: url("./assets/hand.png"), auto !important;
}* {
  cursor: url("./assets/cursor.png"), auto !important;
}

/*
chrome.runtime.getURL("assets/cursor.png")
chrome.runtime.getURL("assets/hand.png")
*/